{% extends 'base.html.twig' %}
{% block content %}
    <div class="about">
        <h2 class="text-center">Мебельная фабрика "ФАСАД"</h2>
        <div>
            Мебельная фабрика «Фасад» начала свою историю с 1998 года. На фоне существенных изменений, которые происходили по всей стране, небольшая группа энтузиастов во главе с основателем фирмы объединилась в городе Киев (Украина) с целью налаживания выпуска мебельной продукции европейского качества по доступным ценам.

            Главная цель компании - постоянное улучшение качества и разработка уникального дизайна продукции используя современные технологии и материалы.
            Мы производим мебли для дома, кухонные мебли, офисные мебли, мебли для магазинов и т.д.

            Высокое качество продукции и лояльное отношение к клиентам обеспечили льбовь и доверие наших клиентов.
            За более чем 20 лут успешной работы мы создали огромное количество кухонь, шкахов, функциональных и удобных кабинетов, убустроили много домов, офисов, лабораторий, производств, отелей ексклюзивными (спезиализированными) меблями нашего производства.

            Индивидуальный подход к каждому клиенту и соблюдение всех его пожеланий оставляют приятные эмоции наравне с отличным качеством и эксклюзивным дизайном.

        </div>
    </div>
{% endblock content %}