{% extends 'base.html.twig' %}
{% block content %}
    <div class="factory">
        <h2 class="text-center">Производство</h2>
        <div>
            Производство ФАСАД – это современная фабрика, которая использует в работе германское оборудование.

            Наши специалисты следят за разработкой и тестированием новых технологий и комплектующих. Поетому мы работаем только с качественными и современными технологиями, материалами и  комплектующими.

            Лакофарбові матеріали, які ми використовуємо, виробництва італійських і швейцарських компаній. Вони сертифіковані за міжнародними стандартами і безпечні в побутовому використанні.

            Особенностью нашего производства есть конвеерное изготовление мебели. Особенностью такого производства есть высокое качество и скорость изготовление продукции. Она помогает исключить возможные ошибки и просчеты, которые можна допустить при обычном изготовлении и сборке.

            Мы произвоми прихожие, стенки, детские, домашние кабинеты, столы, и многое другое для вашего дома. Индивидуальный дизыйн для каждого клиента позволяэт сделать эдиное интерьерное решение для вашего дома.

            Офисные мебли - мебли для сотрудников, руководителей и их клиентов. Совместная работы дизайнеров и конструкторов позволяет реализовать заказ мебели различных уровней сложности ичитывая пожелание клиента.

            Благодаря постоянному совершенствованию технической базы ФАСАД это:

            Международные стандарты ISO.
            Современное, высококачественное оборудование.
            Квалифицированные сотрудники.
            Современные технологии производства.

        </div>
    </div>
{%endblock content%}