{% extends 'base.html.twig' %}
{% block content %}
    <div class="production">
        <h2 class="text-center">Оплата и доставка</h2>
        <div>
            В стоимость заказа входит:
            выезд нашего специалиста на обьект для произведения разеров места установки мебели;
            разработка индивидуального дизайна нашими дизайнерами;
            разработка технической спецификации нашими конструкторами;
            изготовление продукции;
            выезд и установка продукции на обьекте нашими специалистами.
            Сумма заказа просчитывается индивидуально для каждого заказа исходя из количества продукции, размеров, сложности изготовления и других факторов...
            Доставка и установка мебели, как правило, осуществляется в рабочие дни по согласованию с клиентом.
        </div>
    </div>
{% endblock content %}